
/**
*
* HEADER
*
*/

/* Imports */
@import 'grid';
@import '_base/variables';
@import '_base/mixins';
@import '_base/theme';

.header{
    @include modifier(line){
        margin: 0;
        border: 0;
        background: linear-gradient(to right,#ffff4a 0,#fcd000 7%,#ffc112 11%,#ff8a00 17%,#ff5f5f 23%,#ff5156 29%,#ff7ae7 35%,#ff5193 41%,#c739ff 46%,#a400e1 63%,#2eceff 76%,#0086ff 87%,#72f772 97%,#00d604);
        animation: linear-progress 2s ease;
        width: 100%;
        height: 0.5em;
    }
}

.header {
    width: 100%;
    height: 100px;
    background-color: $primary;

    @include element(container){
        @include make-container();
        @include make-container-max-widths();
        height: 100%;
    }

    @include element(row){
        @include make-col(10);
        @include make-col-offset(1);
        @include flexbox();

        @include flex-direction(row);
        @include justify-content(space-between);
        @include align-items(center);
        height: 100%;
    }
    
    @include element(logo){
        color: $white;
        font-size: 1.5em;
        font-weight: $semibold;
    }

    @include element(button){
        @include modifier(github){
            color: $white;
            font-size: 1.3em;
            font-weight: $semibold;
        }
    }
}
