/**
* BUSCA: Estilos do component de Busca.
*/

/* IMPORTS */
@import 'grid';
@import 'breakpoint';
@import '_base/variables';
@import '_base/mixins';
@import '_base/theme';

/* SEARCH */
.search{
    margin: 30px 0;
    @include border-radius(4px);
    @include make-container();
    @include make-container-max-widths();

    .form{
        @include make-col(10);
        @include make-col-offset(1);
        background-color: lighten($gray, 22);
        padding: 20px 30px;

        @include breakpoint($lg){
            @include make-col(12);
            @include make-col-offset(0);
        }
    }
}