
/**
*
* SEARCH
*
*/

/* Imports */
@import 'grid';
@import '_base/mixins';
@import '_base/theme';

.search{
    margin: 30px 0;
    
    @include border-radius(4px);
    @include make-container();
    @include make-container-max-widths();

    .form{
        @include make-col(10);
        @include make-col-offset(1);
        background-color: lighten($gray, 22);
        padding: 20px 30px;
    }
}