
/**
*
* MAP
*
*/

/* Imports */
@import 'grid';
@import '_base/mixins';
@import '_base/theme';

.map{
    @include make-container();
    @include make-container-max-widths();
    
    @include element(header){
        @include flexbox;
        @include justify-content(space-between)
    }

    @include modifier(hide){
        display: none;
    }
    
    agm-map{
        width: 100%;
        height: 400px;
        border: 1px solid #000;
    }

}

