
/**
*
* MAP
*
*/

/* Imports */
@import 'grid';
@import 'breakpoint';
@import '_base/variables';
@import '_base/mixins';
@import '_base/theme';

.map{
    @include make-container();
    @include make-container-max-widths();

    @include element(container){
        @include border-radius(4px);
        @include make-col(10);
        @include make-col-offset(1);
        padding: 30px;
        border: 1px solid $light;

        @include breakpoint($lg){
            @include make-col(12);
            @include make-col-offset(0);
        }
    }

    @include element(header){
        @include flexbox;
        @include justify-content(space-between);
        margin-bottom: 1.0em;
    }

    @include element(address){
        p{
            font-size: 1.0em;
            line-height: 1.5em;
            font-weight: $regular;
        }

        @include modifier(title){
            font-size: 1.1em !important;
            font-weight: $bold !important;
        }
    }

    @include element(button){
        @include modifier(close){
            font-size: 1.2em;
            background-color: transparent;
            border: none;
            cursor: pointer;

            &:hover{
                font-size: 1.25em;
            }
        }
    }

    @include modifier(hide){
        display: none;
    }
    
    agm-map{
        width: 100%;
        height: 400px;
    }

}

