/**
 *
 * CSS Mixins
 *
 */

 /*=============================================
 =            BEM PATTERN MIXIN                =
 =============================================*/
 
 @mixin element($element) {
    &__#{$element} {
        @content;
    }
}

@mixin modifier($modifier) {
    &--#{$modifier} {
        @content;
    }
}
 
 /*=====  End of BEM PATTERN MIXIN  ======*/
 
 
