/**
* THEME: Cores da aplicação
*/

/* Theme */
$primary: #1BB0FF;
$success: #58C22E;
$accent: #822E7C;
$light: #EDF2F5;

/* Generic */
$white: #ffffff;
$gray: #bbbbbb;
$black: #404040;
$red: #eb4d4b;